<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CustomerLayout.master" CodeFile="FrmOrderConfirmation.aspx.cs" Inherits="FrmOrderConfirmation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="content" Runat="Server">
       <asp:Button ID="btnStartOver" runat="server" Height="30px" OnClick="btnStartOver_Click"
            Text="Return to Start" Width="157px" />
</asp:Content>