﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Maintenance.aspx.cs" MasterPageFile="~/MaintenanceLayout.master" Inherits="Maintenance" %>
    
<asp:content id="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>

<asp:content id="Content2" ContentPlaceHolderID="content" runat="server">
    <h2>Welcome to Maintenance.</h2>
</asp:content>