﻿body 
{
    background: #393939;
    color: #FFF;
    font-family: Arial, Sans-Serif;
}

h1 
{
    font-family: 'FrancoisOneRegular';
}

h2 
{
    font-family: 'FrancoisOneRegular';
}

#wrapper 
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#banner 
{
    background: #1b1b1b;
    padding-top: 5px;
    padding-bottom: 5px;
}

#banner h1 
{
    margin-left: 20px;
}

#loginPanel 
{
    width: 400px;
    margin-top: 160px;
    margin-left: 260px;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    moz-border-radius: 10px;
    webskit-border-radius: 10px;
}

#loginPanel input[type=text], #loginPanel input[type=password]
{
   margin-bottom:10px;
   width: 200px;
   height: 20px;
   font-size: 1em;
}

.welcomeMessage
{
    margin-top: 10px;
    height: 60px;
    float: right;
}

.welcomeMessage a:link, .welcomeMessage a:visited
{
    text-decoration:none;
    color: #BBB;
}

.welcomeMessage a:hover, .welcomeMessage a:active
{
    color: #888;
}

#nav
{
    height: 60px;
    width: 660px;
    float:left;
}

#nav a:link, #nav a:visited
{
    text-decoration: none;
    font-family: 'FrancoisOneRegular';
    color:#EEE;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    moz-border-radius: 10px;
    webskit-border-radius: 10px;
}

#nav a:hover, #nav a:active
{
    color:#DDD;
    background: #2b2b2b;
}

#content
{
    float: left;
}

th 
{
    font-family: 'FrancoisOneRegular';
}

.errorMsg
{
    color: Red;
}